
.master-detail {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
  .master-detail__back-btn {
    display: none;
  }

.master-detail__master {
  overflow-y: auto;
  text-overflow: ellipsis;
  background-color: #005dab;
  color: white;
}
  .master-detail__master-title {
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 0.5em;
  }

  .master-detail__master-pagination {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
  }

.master-detail__master-items {
    min-width: 285px;
    max-width: 320px;
    max-height: 50vh;
    overflow: auto;
    background-color: white;
    color: black;
    padding: 0;
  }
  .master-detail__master-item {
    min-height: 50px;
    max-height: 100px;
    padding: 1em;
    list-style: none;
  }

  .master-detail__master-item--selected {
    background-color:#005eaba6;
  }

.master-detail__detail {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 1em;
}
  .master-detail__detail-content {
    max-height: 75vh;
    overflow: auto;
  }

  .master-detail__detail-unselected-message {
    display: none;
  }

  .master-detail__detail-unselected-message--unselected {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }



@media all and (max-width:768px) {
  .master-detail__master {
    display: none;
  }
    .master-detail__master--unselected {
      display: flex;
      flex-direction: column;
    }

    .master-detail__back-btn--selected {
      display: block;
    }

  .master-detail__detail {
    display: none;
  }


  .master-detail__detail--selected {
    display: flex;
  }

}
