<h1>Hello {{$ctrl.name}}!</h1>
<master-detail master-template="home/sample-templates/master-template.html" items="$ctrl.items"
  selected="$ctrl.selected" title="Master Detail Sample" unselected-message="Select an Item from the list" id-key="id"
  has-pagination="true" on-selected="$ctrl.onSelected(selected)" on-first-page="$ctrl.log('onFirstPage')"
  on-last-page="$ctrl.log('onLastPage')" on-previous-page="$ctrl.log('onPreviousPage')"
  on-next-page="$ctrl.log('onNextPage')">
  <detail-slot>
    <section ng-if="$ctrl.selected">
      <h1>{{$ctrl.selected.title}}</h1>
      <p>{{$ctrl.selected.body}}</p>
      <ul ng-repeat="comment in $ctrl.selected.comments">
        <li>
          <p>{{ comment.name}}</p>
          <p>{{ comment.email}}</p>
          <p>{{ comment.body}}</p>
        </li>
      </ul>
    </section>
  </detail-slot>
</master-detail>